<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gitExercise2/Home/Nathan-George-CIS170-2018/src/edu/ngeorge/AppLoop.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ngeorge.AppLoop"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="gitExercise2"/>
</launchConfiguration>
